/LP2-Grupo1/.idea/workspace.xml
/LP2-Grupo1/.idea/misc.xml
/LP2-Grupo1/.idea/modules.xml
/LP2-Grupo1/LP2-Grupo1.iml
/production/LP2-Grupo1/controller/DocenteController.class
/production/LP2-Grupo1/controller/EstudanteController.class
/production/LP2-Grupo1/controller/GestorController.class
/production/LP2-Grupo1/controller/MainController.class
/production/LP2-Grupo1/model/Avaliacao.class
/production/LP2-Grupo1/model/Curso.class
/production/LP2-Grupo1/model/Departamento.class
/production/LP2-Grupo1/model/Docente.class
/production/LP2-Grupo1/model/Estudante.class
/production/LP2-Grupo1/model/Gestor.class
/production/LP2-Grupo1/model/PercursoAcademico.class
/production/LP2-Grupo1/model/RepositorioDados.class
/production/LP2-Grupo1/model/UnidadeCurricular.class
/production/LP2-Grupo1/model/Utilizador.class
/production/LP2-Grupo1/utils/EmailGenerator.class
/production/LP2-Grupo1/utils/Estatisticas.class
/production/LP2-Grupo1/utils/ExportadorCSV.class
/production/LP2-Grupo1/utils/ImportadorCSV.class
/production/LP2-Grupo1/utils/PasswordGenerator.class
/production/LP2-Grupo1/utils/SegurancaPasswords.class
/production/LP2-Grupo1/utils/Validador.class
/production/LP2-Grupo1/view/DocenteView.class
/production/LP2-Grupo1/view/EstudanteView.class
/production/LP2-Grupo1/view/GestorView.class
/production/LP2-Grupo1/view/MainView.class
/production/LP2-Grupo1/Main.class
